header{
    ul{
        margin:auto;
        width: 100%;
        li{
            margin:0 5%;
        }
    }
    .header-bg{
        background-image: url(../styles/sophie-assets/blog-image-1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height:50vh;
    }
}   
main{
    background: #F0EFED;
    .wrapper:first-of-type{
        .flex-contain{
            display: flex;  
            flex-direction: column;
            width: 30%;
        }
    }
    .about-container{
        background: white;
        display: flex;
        flex-direction: column;
        padding:20px;
        margin-top: 40px;
        align-self: flex-start;   //The element was stretching when flex wrapped. so this got it back to normal// 
        p{
            margin:0;
            a{
                text-transform: none;  
                color: #285E64;
                font-weight: bold;
            }//I understand we shouldn't have more than 3 nested elements, just not sure where else to put this a tag without being redundant 
        }
    }
}



main{
    .wrapper:first-of-type{
        display: flex;
        position: relative;
        h1{
            position: absolute;
            font-size: 6rem;
            top:-8rem;
    }
}
}
.recent-posts{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 20px;
        h3{
            margin-top: 0;
        }
        ul{
            text-align: center;
            list-style-type: none;
            li::before {                    //----thank you w3schools---//
            content: "\2022"; 
            color: $primary-color; 
            display: inline-block; 
            width: 1rem; 
            margin-left: -2em; 
            }
            a{
                font-family: 'roboto', sans-serif;
                font-size: 1.4rem;
                text-transform: none;
                line-height: 1.5;
            }
        }
}
.blog-post{
    background: white;
    display: flex;
    flex-direction: column;
    padding:20px;
    margin-top: 40px;
    margin-left: 20px;
    border-bottom: 3px solid $primary-color;
}
.main-contain{
    width: 70%;
}

.post-1,
.post-2{
    display: flex;
    flex-wrap: wrap;
    background:white;
    padding: 20px;
    margin-left: 20px;
    margin-top: 20px;
    .post-img-contain{
        width:15%;
    }
    .post-text-contain{
        width: 85%;
        padding: 0 20px 20px 10px;
    }
    
}
.post-2{
    border-bottom: 3px solid $primary-color;
}
.form-entry{
    padding-right:20px;
}



//------------------media queries------------------//

@media(max-width:670px){
    main{
        .wrapper:first-of-type{
            flex-direction: column-reverse;
            .flex-contain{
                width:auto;
                .about-container{
                    flex-direction: row;
                }
            }
            .main-contain{    
                .older-posts{
                    .post-1{
                        margin-left: 0;
                    }
                    .post-2{
                        margin-left:0;
                    }
                }
            }
        }
    }
    .about-text{
        padding: 20px;
    }
    .main-contain{
        width: auto;
        margin:0;
        .blog-post{
            margin-left: 0;            
        }
    }
    .form-entry{
        .flex-form-contain{
            .horizontal-forms{
                flex-direction: column;
                input[type='text']{
                    width:auto;
                }
                input[type='text']:last-of-type{
                    margin:10px 0;
                }
            }
        }
    }
    .recent-posts{
        margin-bottom: 20px;
    }

}

@media(max-width:480px){
    main{   
        .wrapper:first-of-type{
            .flex-contain{
                .about-container{
                    flex-direction: column;    // weird. looks like I have to write it out as a nested element
                                                    
                }
            }
        }
    }
    .blog-post h2{
        font-size: 2.5rem;
    }
}