header{
    .header-bg{
        background-image: url(../styles/sophie-assets/blog-image-1.jpg);
        background-size: cover;
        height:50vh;
        h1{
            margin: 0;
            font-family: 'Lato', serif;
            font-size: 6rem;
            position: relative;
            top:260px;
            left:60px;
        }
    }
}
main{
    background: #F0EFED;
    .about-container{
        background: white;
        display: flex;
        flex-direction: column;
        padding:20px;
        margin-top: 40px;
        align-self: flex-start;   //The element was stretching when flex wrapped. so this got it back to normal// 
        p{
            margin:0;
            a{
                text-transform: none;  
                color: #285E64;
                font-weight: bold;
            }//I understand we shouldn't have more than 3 nested elements, just not sure where else to put this a tag without being redundant 
        }
    }
}

.flex-contain{
    display: flex;  
    flex-direction: column;
    width: 30%;
}

main{
    .wrapper:first-of-type{
        display: flex;
        position: relative;
        h1{
            position: absolute;
            font-size: 6rem;
            top:-11.5rem
        }
    }
}
.recent-posts{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 20px;
        h3{
            margin-top: 0;
        }
        ul{
            text-align: center;
            list-style-type: none;
            li::before {                    //----thank you w3schools---//
            content: "\2022"; 
            color: $primary-color; 
            display: inline-block; 
            width: 1rem; 
            margin-left: -2em; 
            }
            a{
                font-family: 'roboto', sans-serif;
                font-size: 1.4rem;
                text-transform: none;
                line-height: 1.5;
            }
        }
}
.blog-post{
    background: white;
    display: flex;
    flex-direction: column;
    padding:20px;
    margin-top: 40px;
    margin-left: 20px;
}
.main-contain{
    width: 70%;
}