

.contact-header-bg{
    background-image: url(../styles/sophie-assets/contact-image-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:50vh;
}
main{
    background: #F0EFED;
    .wrapper:first-of-type{
        .flex-heading{
            display: flex;  
            flex-direction: column;
            max-width:0px;
        }
    }
}
.contact-container{
    background: white;
    display: flex;
    flex-direction: column;
    width: 25%;
    align-self: start;
    margin-top: 60px;
    padding:20px;
    .social{
        display: flex;
        i{
            color: $primary-color;
            font-size: 1.2rem;
            margin-right: 10px;
        }
    }
    h4,
    li{
        font-family:'lato',sans-serif ;
        line-height: 1.5;
    }
    
}



.form-entry{
    width: 100%;
    margin-top: 60px;
}

//-------------media queries-----------//
@media(max-width:970px){
    .contact-header-bg{
        height: 45vh;
    }
}

@media(max-width:740px){
    .contact-header-bg{
        height: 40vh;
    }
}

@media(max-width:670px){
    .contact-container{
        width:100%;
        flex-direction: row;
        justify-content: space-around;
        margin:20px 0;
        .social{
            flex-direction: column;
        }
    }
    .contact-header-bg{
        height: 35vh;
    }
    main{
        .wrapper:first-of-type{
            .flex-heading{
                h1{
                font-size: 5rem;
                top:-8rem;
                }
            }
        }
    }
}
@media(max-width:480px){
    main{
        .wrapper:first-of-type{
            .flex-heading{
                h1{
                    font-size: 4rem; //----------having some trouble here. for some reason it's not
                    top:-10rem;

                }
            }
        }
    }
}

@media(max-width:390px){
        main{
        .wrapper:first-of-type{
            .flex-heading{
                h1{
                    left:6rem;
                }
            }
        }
    }
}
