  /*-----------------general styles---------------------------------------*/
.wrapper {
    max-width: 920px;
    margin: 0 auto;
    width:80%;
}
html {
    font-size: 62.5%;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
img{
    width: 100%;
}

p{
    line-height: 1.5;
    font-family: 'roboto', sans-serif;
    font-size: 1.4rem;
}

h1{
    font-family: 'lora', serif;
    font-weight: bold;
}

h2, h3 {
    font-family: 'roboto', sans-serif;
    font-weight: bold;
}
a {
    text-decoration: none;
    color: black;
}
h1,
h2,
h3,
a{
    text-transform: uppercase;
}
h1{
    font-size: 10rem;
}

h2 {
    font-size: 3rem;
}

h3{
    font-size: 2rem;
}

button{
    background-color: #05AFC1;
    width: 100px;
    height:30px;
    border: none;
    a {
        font-weight: bold;
    }
}
button:active{
    background:#285E64 ;
}