
header {
    background-color: $primary-color;
    ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        li {
            margin: 0 50px;
            a{
                font-family: 'roboto',sans-serif;
                font-size: 1.5rem;
                transition: linear 0.25s all;
            }
            a:hover{
                color: white;
            }
            h2{
                font-family: 'lato', serif;
                font-weight: bold;
            }
        }
    }
}

//--------------------header ends /  footer begins ----------------------------//


footer{
    background-color: #2C2C2C;
    p{
        text-align: center;
        color: #F0EFED;
        margin:0;
        align-self: center;
        padding: 5px 0;
    }
}