html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*-----------------general styles---------------------------------------*/
.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: 80%;
}

html {
  font-size: 62.5%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

p {
  line-height: 1.5;
  font-family: 'roboto', sans-serif;
  font-size: 1.4rem;
}

h1 {
  font-family: 'lora', serif;
  font-weight: bold;
}

h2, h3 {
  font-family: 'roboto', sans-serif;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}

h1,
h2,
h3,
a {
  text-transform: uppercase;
}

h1 {
  font-size: 10rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

button {
  background-color: #05AFC1;
  width: 100px;
  height: 30px;
  border: none;
}

button a {
  font-weight: bold;
}

header {
  background-color: #F6A823;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header ul li {
  margin: 0 50px;
}

header ul li a {
  font-family: 'roboto',sans-serif;
  font-size: 1.5rem;
  -webkit-transition: linear 0.25s all;
  transition: linear 0.25s all;
}

header ul li a:hover {
  color: white;
}

header ul li a:active {
  color: white;
}

.title-anchor {
  font-family: 'lato', serif;
  font-weight: bold;
  font-size: 3rem;
}

.hamburger i {
  position: absolute;
  top: 35px;
  left: 40px;
  font-size: 2.5rem;
  visibility: hidden;
  color: #fcfcfc;
}

footer {
  background-color: #2C2C2C;
}

footer p {
  text-align: center;
  color: #F0EFED;
  margin: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 5px 0;
}

@media (max-width: 625px) {
  header ul {
    width: 70%;
  }
}

@media (max-width: 530px) {
  .hamburger i {
    visibility: visible;
  }
  .top-nav {
    visibility: hidden;
  }
}

.form-entry {
  margin-left: 20px;
  margin-top: 20px;
}

.form-entry .flex-form-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-entry .flex-form-contain .horizontal-forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-entry .flex-form-contain .horizontal-forms input[type='text'] {
  width: 50%;
  height: 40px;
  border: none;
  text-indent: 30px;
}

.form-entry button {
  width: 100%;
  text-transform: uppercase;
  font-family: 'roboto' sans-serif;
  font-weight: bold;
  margin: 20px 0 40px 0;
}

input[type='text']:nth-of-type(2) {
  margin-left: 10px;
}

input[type='text']::-webkit-input-placeholder {
  font-style: italic;
  padding-top: 10px;
}

input[type='text']:-ms-input-placeholder {
  font-style: italic;
  padding-top: 10px;
}

input[type='text']::-ms-input-placeholder {
  font-style: italic;
  padding-top: 10px;
}

input[type='text']::placeholder {
  font-style: italic;
  padding-top: 10px;
}

textarea {
  margin-top: 20px;
  border: none;
  text-indent: 30px;
}

textarea::-webkit-input-placeholder {
  font-style: italic;
}

textarea:-ms-input-placeholder {
  font-style: italic;
}

textarea::-ms-input-placeholder {
  font-style: italic;
}

textarea::placeholder {
  font-style: italic;
}

.top-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-flex-container .hero-container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-flex-container .hero-container h1 {
  padding: 90px auto;
  position: relative;
}

.top-flex-container .hero-container h1 img {
  position: absolute;
  max-width: 190px;
  left: -55px;
  top: -50px;
}

.hero-img-container {
  width: 35%;
}

.hero-img-container img {
  -webkit-box-shadow: 10px 10px whitesmoke;
          box-shadow: 10px 10px whitesmoke;
  position: relative;
  top: 25px;
  min-width: 200px;
}

.lower-header {
  background-color: #F0EFED;
}

.lower-header .lower-header-container {
  padding: 50px 0;
}

.lower-header .lower-header-container h2 {
  margin-top: 0;
}

.mid-top .favourite-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mid-top .favourite-flex .favourite-container {
  width: calc(50% - 20px);
  margin-left: 20px;
  padding: 40px;
}

.mid-top .favourite-flex .favourite-img {
  width: 50%;
  position: relative;
  bottom: 3rem;
}

.mid-top .favourite-flex .favourite-img img {
  -webkit-box-shadow: -140px 10px #A82706, 10px 10px #A82706;
          box-shadow: -140px 10px #A82706, 10px 10px #A82706;
}

.mid-bottom .travel-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mid-bottom .travel-flex .travel-container {
  width: calc(50% - 20px);
  margin-right: 20px;
  padding: 40px;
  background-color: white;
}

.mid-bottom .travel-flex .travel-img {
  width: 50%;
  position: relative;
  top: 2rem;
}

.mid-bottom .travel-flex .travel-img img {
  -webkit-box-shadow: 140px 10px #F6A823, 10px 10px #F6A823;
          box-shadow: 140px 10px #F6A823, 10px 10px #F6A823;
}

.home-content {
  background-color: #F0EFED;
  padding-top: 20px;
}

.home-content .home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home-content .home-container i {
  z-index: 1;
  padding-top: 20px;
  position: relative;
  top: 8px;
  right: 3px;
}

.home-content .home-container h3 {
  margin-bottom: 0;
}

.home-content .home-container h3:before {
  content: '';
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #F6A823;
  right: 35px;
  top: 10px;
}

.home-content .home-container li {
  width: 50%;
}

.home-content .home-container p {
  padding-left: 60px;
}

.journey .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px;
}

.journey .wrapper .journey-img-container {
  width: calc(30% - 25px);
}

.journey .wrapper .journey-img-container img {
  -webkit-box-shadow: 10px 10px #F6A823;
          box-shadow: 10px 10px #F6A823;
}

.journey .wrapper .journey-container {
  width: 70%;
  margin-left: 20px;
}

.icon-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-flex i {
  font-size: 2.5rem;
}

.img-gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.img-gallery ul li {
  width: calc((100% - 70px) / 3);
  margin: 40px 10px;
}

@media (max-width: 940px) {
  .hero-container h1 {
    font-size: 80px;
  }
  .hero-container h1 img {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .top-flex-container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .hero-img-container {
    width: 25%;
  }
  .home-content .home-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home-content .home-container li {
    width: 100%;
  }
}

@media (max-width: 625px) {
  .mid-top .favourite-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mid-top .favourite-flex .favourite-img {
    width: 100%;
  }
  .mid-top .favourite-flex .favourite-container {
    width: 100%;
    padding: 20px;
  }
  .mid-bottom .travel-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .mid-bottom .travel-flex .travel-container {
    width: 100%;
  }
  .mid-bottom .travel-flex .travel-img {
    width: 100%;
  }
}

@media (max-width: 530px) {
  .top-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .top-flex-container .hero-container {
    width: auto;
  }
  .top-flex-container .hero-img-container {
    width: auto;
  }
}

header ul {
  margin: auto;
  width: 100%;
}

header ul li {
  margin: 0 5%;
}

header .header-bg {
  background-image: url(../styles/sophie-assets/blog-image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
}

main {
  background: #F0EFED;
}

main .about-container {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  margin-top: 40px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

main .about-container p {
  margin: 0;
}

main .about-container p a {
  text-transform: none;
  color: #285E64;
  font-weight: bold;
}

.flex-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
}

main .wrapper:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

main .wrapper:first-of-type h1 {
  position: absolute;
  font-size: 6rem;
  top: -8rem;
}

.recent-posts {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  margin-top: 20px;
}

.recent-posts h3 {
  margin-top: 0;
}

.recent-posts ul {
  text-align: center;
  list-style-type: none;
}

.recent-posts ul li::before {
  content: "\2022";
  color: #F6A823;
  display: inline-block;
  width: 1rem;
  margin-left: -2em;
}

.recent-posts ul a {
  font-family: 'roboto', sans-serif;
  font-size: 1.4rem;
  text-transform: none;
  line-height: 1.5;
}

.blog-post {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  margin-top: 40px;
  margin-left: 20px;
  border-bottom: 3px solid #F6A823;
}

.main-contain {
  width: 70%;
}

.post-1,
.post-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: white;
  padding: 20px;
  margin-left: 20px;
  margin-top: 20px;
}

.post-1 .post-img-contain,
.post-2 .post-img-contain {
  width: 15%;
}

.post-1 .post-text-contain,
.post-2 .post-text-contain {
  width: 85%;
  padding: 0 20px 20px 10px;
}

.post-2 {
  border-bottom: 3px solid #F6A823;
}

.form-entry {
  padding-right: 20px;
}

.contact-header-bg {
  background-image: url(../styles/sophie-assets/contact-image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
}

.contact-header-bg h1 {
  margin: 0;
  font-size: 6rem;
  position: relative;
  top: 26rem;
}

.contact-container {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
  -ms-flex-item-align: start;
      align-self: start;
  margin-top: 60px;
  padding: 20px;
}

.contact-container .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-container .social i {
  color: #F6A823;
  font-size: 1.2rem;
  margin-right: 10px;
}

.contact-container h4,
.contact-container li {
  font-family: 'lato',sans-serif;
  line-height: 1.5;
}

.form-entry {
  width: 100%;
  margin-top: 60px;
}
